<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] justify-between group/design-root overflow-x-hidden"
      style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
    >
      <div>
        <div class="flex flex-col gap-2 bg-[#FFFFFF] p-4 pb-2">
          <p class="text-black tracking-light text-[28px] font-bold leading-tight">Pasarelas de Pago</p>
        </div>
        <div class="flex items-center gap-4 bg-[#FFFFFF] px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div class="text-black flex items-center justify-center rounded-lg bg-[#EEEEEE] shrink-0 size-12" data-icon="PaypalLogo" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M220.12,93.54a55.8,55.8,0,0,0-20.19-16.18A56,56,0,0,0,144,24H84A16,16,0,0,0,68.48,36.12l-36,144A16,16,0,0,0,48,200h27.5l-3,12.12A16,16,0,0,0,88,232h31.5A16,16,0,0,0,135,219.88L144,184h32a56,56,0,0,0,44.14-90.46ZM48,184,84,40h60a40,40,0,0,1,39.3,32.49A57,57,0,0,0,176,72H120a16,16,0,0,0-15.53,12.12L79.52,184H48ZM183,88.62c-.08.36-.15.72-.24,1.08A39.94,39.94,0,0,1,144,120H112l8-32h56A40.07,40.07,0,0,1,183,88.62Zm31.76,49.08A39.94,39.94,0,0,1,176,168H144a16,16,0,0,0-15.52,12.12l-9,35.88H88l20-80h36a55.9,55.9,0,0,0,54-41.39,40.2,40.2,0,0,1,9.48,8.77A39.73,39.73,0,0,1,214.78,137.7Z"
                ></path>
              </svg>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-black text-base font-medium leading-normal line-clamp-1">PayPal</p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal line-clamp-2">Pagos seguros y rápidos.</p>
            </div>
          </div>
          <div class="shrink-0"><button class="text-base font-medium leading-normal">Convenio activo</button></div>
        </div>
        <div class="flex items-center gap-4 bg-[#FFFFFF] px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div class="text-black flex items-center justify-center rounded-lg bg-[#EEEEEE] shrink-0 size-12" data-icon="StripeLogo" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M168,152c0,17.65-17.94,32-40,32s-40-14.35-40-32a8,8,0,0,1,16,0c0,8.67,11,16,24,16s24-7.33,24-16c0-9.48-8.61-13-26.88-18.26C109.37,129.2,89.78,123.55,89.78,104c0-18.24,16.43-32,38.22-32,15.72,0,29.18,7.3,35.12,19a8,8,0,1,1-14.27,7.22C145.64,91.94,137.65,88,128,88c-12.67,0-22.22,6.88-22.22,16,0,7,9,10.1,23.77,14.36C145.78,123,168,129.45,168,152ZM224,48V208a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM208,208V48H48V208H208Z"
                ></path>
              </svg>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-black text-base font-medium leading-normal line-clamp-1">Stripe</p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal line-clamp-2">Solución global para pagos.</p>
            </div>
          </div>
          <div class="shrink-0"><button class="text-base font-medium leading-normal">Convenio activo</button></div>
        </div>
        <div class="flex items-center gap-4 bg-[#FFFFFF] px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div class="text-black flex items-center justify-center rounded-lg bg-[#EEEEEE] shrink-0 size-12" data-icon="Wallet" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M216,72H56a8,8,0,0,1,0-16H192a8,8,0,0,0,0-16H56A24,24,0,0,0,32,64V192a24,24,0,0,0,24,24H216a16,16,0,0,0,16-16V88A16,16,0,0,0,216,72Zm0,128H56a8,8,0,0,1-8-8V86.63A23.84,23.84,0,0,0,56,88H216Zm-48-60a12,12,0,1,1,12,12A12,12,0,0,1,168,140Z"
                ></path>
              </svg>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-black text-base font-medium leading-normal line-clamp-1">Mercado Pago</p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal line-clamp-2">Ideal para América Latina.</p>
            </div>
          </div>
          <div class="shrink-0"><button class="text-base font-medium leading-normal">Convenio activo</button></div>
        </div>
        <div class="flex items-center gap-4 bg-[#FFFFFF] px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div class="text-black flex items-center justify-center rounded-lg bg-[#EEEEEE] shrink-0 size-12" data-icon="Square" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path d="M208,32H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Zm0,176H48V48H208V208Z"></path>
              </svg>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-black text-base font-medium leading-normal line-clamp-1">Square</p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal line-clamp-2">Pagos y hardware integrado.</p>
            </div>
          </div>
          <div class="shrink-0"><button class="text-base font-medium leading-normal">Convenio activo</button></div>
        </div>
        <div class="flex items-center gap-4 bg-[#FFFFFF] px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div class="text-black flex items-center justify-center rounded-lg bg-[#EEEEEE] shrink-0 size-12" data-icon="Command" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M180,144H160V112h20a36,36,0,1,0-36-36V96H112V76a36,36,0,1,0-36,36H96v32H76a36,36,0,1,0,36,36V160h32v20a36,36,0,1,0,36-36ZM160,76a20,20,0,1,1,20,20H160ZM56,76a20,20,0,0,1,40,0V96H76A20,20,0,0,1,56,76ZM96,180a20,20,0,1,1-20-20H96Zm16-68h32v32H112Zm68,88a20,20,0,0,1-20-20V160h20a20,20,0,0,1,0,40Z"
                ></path>
              </svg>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-black text-base font-medium leading-normal line-clamp-1">Apple Pay</p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal line-clamp-2">Pagos rápidos desde dispositivos Apple.</p>
            </div>
          </div>
          <div class="shrink-0"><button class="text-base font-medium leading-normal">Convenio activo</button></div>
        </div>
        <div class="flex items-center gap-4 bg-[#FFFFFF] px-4 min-h-[72px] py-2 justify-between">
          <div class="flex items-center gap-4">
            <div class="text-black flex items-center justify-center rounded-lg bg-[#EEEEEE] shrink-0 size-12" data-icon="GooglePlayLogo" data-size="24px" data-weight="regular">
              <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                <path
                  d="M223.82,114.19,56,18.16a16,16,0,0,0-16.12,0A15.68,15.68,0,0,0,32,31.87V224.13a15.68,15.68,0,0,0,7.92,13.67,16,16,0,0,0,16.12,0l167.78-96a15.75,15.75,0,0,0,0-27.62ZM48,212.67V43.33L132.69,128Zm96-73.36,18.92,18.92-88.5,50.66ZM74.4,47.1l88.53,50.67L144,116.69ZM177.31,150l-22-22,22-22,38.43,22Z"
                ></path>
              </svg>
            </div>
            <div class="flex flex-col justify-center">
              <p class="text-black text-base font-medium leading-normal line-clamp-1">Google Pay</p>
              <p class="text-[#6B6B6B] text-sm font-normal leading-normal line-clamp-2">Pagos simples desde Android.</p>
            </div>
          </div>
          <div class="shrink-0"><button class="text-base font-medium leading-normal">Convenio activo</button></div>
        </div>
      </div>
    </div>
  </body>
</html>
