<div>    
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, <span highlight>amet consectetur adipisicing elit</span> Eum ipsam assumenda iste fugit tenetur. Et magnam laudantium rerum incidunt at exercitationem molestias. Tenetur, blanditiis. Accusantium asperiores impedit architecto hic commodi!</p>
    <p>Numero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/> </p>
    <div>
        <app-wave-audio audioUrl="assets/music.mp3" />
    </div>
</div>


