<div class="grid grid-cols-4 gap-10 ml-7 mt-5">
    <app-product [title]="'Producto 1'" [price]="12" img="https://picsum.photos/640/640?r=24" (addToCart)="fromChild($event)"/>
    <app-product  [title]="'Producto 2'" [price]="18" [rating]="3" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)" />
    <app-product  [title]="'Producto 3'" [price]="20" [rating]="4" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)" />
    <app-product  [title]="'Producto 4'" [price]="35" [rating]="2" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)" />
    <app-product  [title]="'Producto 5'" [price]="180" [rating]="5" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)" />
</div>