.categories-container {
  overflow-x: auto; 
  white-space: nowrap; 
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.categories {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-item a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  white-space: nowrap;
  display: inline-block;
  transition: background 0.3s, color 0.3s;
}

.category-item a:hover {
  background: #007BFF;
  color: #fff;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 1.25rem;
  padding: 1rem; 
}

@media (min-width: 640px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 1024px) {

  .product-list {
      grid-template-columns: repeat(4, 1fr);
      gap: 2.5rem; 
      margin-left: 2rem; 
      margin-top: 1.25rem; 
  }
}
