.mobile-menu {
    display: flex;
    justify-content: flex-end; 
  }
  
  .menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: none; 
    border: none; 
    color: white;
    cursor: pointer; 
  }

  .active-logo img {
  filter: invert(1); 
  }

  img {
  filter: invert(0.5); 
  }

  
  @media (min-width: 1024px) {
    .mobile-menu {
      display: none; 
    }
  }
  